<style>
.col3,
.col4,
.col5,
.col6 {
 width:100px;
 text-align:center;
}
.total {
 background-color:#fdc;
}
.total td {
  text-align:center;
}
</style>
<table class="list issues">
<thead>
<tr>
<th rowspan="2"><%= @column %></th>
<th rowspan="2"><%= l(:field_estimated_hours) %></th>
<th rowspan="2"><%= l(:field_hours) %></th>
<th rowspan="2"><%= l(:field_done_ratio) %></th>
<th colspan="2">ticket</th>
</tr>
<tr>
<th>new</th>
<th>closed</th>
</tr>
</thead>
<tbody>
  <% @data.each_pair do |key,value| %>
    <tr class="group open">
      <td colspan="5"><%= key %> &nbsp;(<%= @data[key].size %>)</td>
    </tr>
    <% count = 0 %>
    <% y=0;j=0;t=0;t1=0;t2=0;p=0; %>
    <% @data[key].each do |d| %>
      <% y += d.n3.to_i unless d.n3.nil? %>
      <% j += d.n4.to_i unless d.n4.nil? %>
      <% p += d.n5.to_i unless d.n5.nil?  %>
      <% t += d.n6.to_i unless d.n6.nil?  %>
      <% t1 += d.n7.to_i unless d.n7.nil?  %>
      <% t2 += d.n8.to_i unless d.n8.nil?  %>
      <tr class="<%= (count%2 == 0) ? 'odd':'event' %>">
        <td class="col2"><%= d.n2.nil? ? "none" : d.n2 %></td>
        <td class="col3"><%= d.n3.to_s %></td>
        <td class="col4"><%= d.n4.nil? ? "0":d.n4.to_s %></td>
        <td class="col5"><%= d.n5.to_i / d.n6.to_i %>%</td>
        <td class="col6"><%= d.n8.to_s %></td>
        <td class="col6"><%= d.n7.to_s %></td>
      </tr>
      <% count += 1 %>
    <% end %>
    <tr class="total">
      <th style="text-align:right;">total</th>
      <td><%= y %></td>
      <td><%= j %></td>
      <td><%= p / t %>%</td>
      <td><%= t2 %></td>
      <td><%= t1 %></td>
    </tr>
  <% end %>
</tbody>
</table>
